/* HTML: <div class="loader"></div> */
.loader {
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  animation: l1 1s linear infinite alternate;
}
.loader:before {
  content: "Loading...";
}
@keyframes l1 {
  to {
    opacity: 0;
  }
}
