.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 15px;
  width: 300px;
  border: 1px solid black;
  margin-bottom: 12px;
}
.label {
  display: block;
  margin-bottom: 4px;
}
.input {
  display: block;
  width: 100%;
  padding: 5px 10px;
}
.btn {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 5px 10px;
  margin-left: auto;
  margin-right: auto;
}
.error {
  color: red;
}
.loader {
  display: flex;
  height: 10px;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #ffff;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}
